Login

<form class="" action="/login" method="post"> 
  <label for="username">Username: </label>
  <input type="text" name="username" id="username" value="">
  <label for="password">Password: </label>
  <input type="text" name="password" id="password" value="">
  <input type="submit"  value="Login">



</form>